				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">The&#160;Man with the&#160;Scar</h1><p class="subhead">Да, это тот &#171;Человек со&#160;шрамом&#187; Сомерсета Моэма (адресовано учащимся 10&#8212;11 классов школ, лицеев и&#160;гимназий). Есть&#160;еще двойник от&#160;Джека Лондона (алчность героя превзошла все мыслимые и&#160;немыслимые пределы и в&#160;конце концов свела его с&#160;ума), Ежи Эдигея (о работе следственных органов и&#160;милиции народной Польши). Есть&#160;еще &#171;Девушка со&#160;шрамом. История неправильного человека&#187;.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
								<div class="holder-chapters-select">
									<form method="get" action="javascript:void(0);">
										<p>
											<select class="chapters-select" id="chapters-select" aria-label="Select / Выбрать">
												<option value="" disabled="" selected="">Переход к&#160;главам&#8230;</option>
												<option value="#a2">The&#160;Man with the&#160;Scar</option>
												<option value="#a3">Человек со&#160;шрамом</option>
												<option value="#a4">Vocabulary</option>
												<option value="#a5">Plan for Analysis</option>
											</select>
										</p>
									</form>
								</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">The&#160;Man with the&#160;Scar</h2></div><div class="holder-hidden-layer"><p>It was on account of the scar that I&#160;first noticed him, for it ran, broad and red, in a&#160;great crescent from his temple to his chin. It&#160;must have been due to a&#160;formidable wound and I&#160;wondered whether this had been caused by&#160;a&#160;sabre or by&#160;a&#160;fragment of shell. It&#160;was unexpected on that round, fat, and good-humoured face. He&#160;had small and undistinguished features, and his expression was artless. His&#160;face went oddly with his corpulent body. He&#160;was a&#160;powerful man of more than common height. I&#160;never saw him in anything but a&#160;very shabby grey suit, a&#160;khaki shirt, and a&#160;battered sombrero. He&#160;was far from clean. He&#160;used to come into the Palace Hotel at Guatemala City every day at cocktail time and strolling leisurely round the bar offer lottery tickets for sale. If&#160;this was the way he made his living it must have been a&#160;poor one for I&#160;never saw anyone buy, but now and then I&#160;saw him offered a&#160;drink. He&#160;never refused it. He&#160;threaded his way among the tables with a&#160;sort of rolling walk as though he were accustomed to traverse long distances on foot, paused at each table, with a&#160;little smile mentioned the numbers he had for sale, and then, when no notice was taken of him, with the same smile passed on. I&#160;think he was for the most part a&#160;trifle the worse for liquor.</p><p>I was standing at the bar one evening, my foot on the rail, with an acquaintance&#8212;they make a&#160;very good dry Martini at the Palace Hotel in Guatemala City&#8212;when the man with the scar came up. I&#160;shook my head as for the twentieth time since my arrival he held out for my inspection his lottery tickets. But&#160;my companion nodded affably.</p><p>&#8216;Que tal, general? How&#160;is life?&#8217;</p><p>&#8216;Not so bad. Business is none too good, but it might be worse.&#8217;</p><p>&#8216;What will you have, general?&#8217;</p><p>&#8216;A brandy.&#8217;</p><p>He tossed it down and put the glass back on the bar. He&#160;nodded to my acquaintance. &#8216;Gracias. Hasta luego.&#8217;</p><p>Then he turned away and offered his tickets to the men who were standing next to&#160;us.</p><p>&#8216;Who is your friend?&#8217; I&#160;asked. &#8216;That&#8217;s a&#160;terrific scar on his face.&#8217;</p><p>&#8216;It doesn&#8217;t add to his beauty, does it? He&#8217;s an exile from Nicaragua. He&#8217;s a&#160;ruffian of course and a&#160;bandit, but not a&#160;bad fellow. I&#160;give him a&#160;few pesos now and then. He&#160;was a&#160;revolutionary general, and if his ammunition hadn&#8217;t given out he&#8217;d have upset the government and be Minister of War now instead of selling lottery tickets in Guatemala. They&#160;captured him, along with his staff, such as it was, and tried him by&#160;court-martial. Such&#160;things are rather summary in these countries, you know, and he was sentenced to be shot at dawn. I&#160;guess he knew what was coming to him when he was caught. He&#160;spent the night in gaol and he and the others, there were five of them altogether, passed the time playing poker. They&#160;used matches for chips. He&#160;told me he&#8217;d never had such a&#160;run of bad luck in his life; they were playing with a&#160;short pack, Jacks to open, but he never held a&#160;card; he never improved more than half a&#160;dozen times in the whole sitting and no sooner did he buy a&#160;new stack than he lost it. When&#160;day broke and the soldiers came into the cell to fetch them for execution he had lost more matches than a&#160;reasonable man could use in a&#160;lifetime.</p><p>&#8216;They were led into the patio of the gaol and placed against a&#160;wall, the five of them side by&#160;side, with the firing party facing them. There was a&#160;pause and our friend asked the officer in charge of them what the devil they were keeping him waiting for. The&#160;officer said that the general commanding the government troops wished to attend the execution and they awaited his arrival.</p><p>&#8216;Then I&#160;have time to smoke another cigarette,&#8217; said our friend. &#8216;He was always unpunctual.&#8217;</p><p>&#8216;But he had barely lit it when the general&#8212;it was San Ignacio, by&#160;the way: I&#160;don&#8217;t know whether you ever met him&#8212;followed by&#160;his A.D.C. came into the patio. The&#160;usual formalities were performed and San Ignacio asked the condemned men whether there was anything they wished before the execution took place. Four&#160;of the five shook their heads, but our friend&#160;spoke.</p><p>&#8216;Yes, I&#160;should like to say good-bye to my wife.&#8217; &#8216;Bueno,&#8217; said the general, &#8216;I have no objection to that. Where is she?&#8217;</p><p>&#8216;She is waiting at the prison door.&#8217; &#8216;Then it will not cause a&#160;delay of more than five minutes.&#8217;</p><p>&#8216;Hardly that, Senor General,&#8217; said our friend.</p><p>&#8216;Have him placed on one side.&#8217;</p><p>&#8216;Two soldiers advanced and between them the condemned rebel walked to the spot indicated. The&#160;officer in command of the firing squad on a&#160;nod from the general gave an order, there was a&#160;ragged report, and the four men fell. They&#160;fell strangely, not together, but one after the other, with movements that were almost grotesque, as though they were puppets in a&#160;toy theatre. The&#160;officer went up to them and into one who was still alive emptied two barrels of his revolver. Our&#160;friend finished his cigarette and threw away the&#160;stub.</p><p>&#8216;There was a&#160;little stir at the gateway. A&#160;woman came into the patio, with quick steps, and then, her hand on her heart, stopped suddenly. She&#160;gave a&#160;cry and with outstretched arms ran forward.</p><p>&#8216;Caramba,&#8217; said the General.</p><p>&#8216;She was in black, with a&#160;veil over her hair, and her face was dead white. She&#160;was hardly more than a&#160;girl, a&#160;slim creature, with little regular features and enormous eyes. But&#160;they were distraught with anguish. Her&#160;loveliness was such that as she ran, her mouth slightly open and the agony of her face beautiful, a&#160;gasp of surprise was wrung from those indifferent soldiers who looked at&#160;her.</p><p>&#8216;The rebel advanced a&#160;step or two to meet her. She&#160;flung herself into his arms and with a&#160;hoarse cry of passion: alma de mi corazon, soul of my heart, he pressed his lips to hers. And&#160;at the same moment he drew a&#160;knife from his ragged shirt&#8212;I haven&#8217;t a&#160;notion how he managed to retain possession of it&#8212;and stabbed her in the neck. The&#160;blood spurted from the cut vein and dyed his shirt. Then&#160;he flung his arms round her and once more pressed his lips to&#160;hers.</p><p>&#8216;It happened so quickly that many did not know what had occurred, but from the others burst a&#160;cry of horror; they sprang forward and seized him. They&#160;loosened his grasp and the girl would have fallen if the A.D.C. had not caught her. She&#160;was unconscious. They&#160;laid her on the ground and with dismay on their faces stood round watching her. The&#160;rebel knew where he was striking and it was impossible to staunch the blood. In&#160;a&#160;moment the A.D.C. who had been kneeling by&#160;her side&#160;rose.</p><p>&#8216;She&#8217;s dead,&#8217; he whispered.</p><p>&#8216;The rebel crossed himself.</p><p>&#8216;Why did you do it?&#8217; asked the general.</p><p>&#8216;I loved her.&#8217;</p><p>&#8216;A sort of sigh passed through those men crowded together and they looked with strange faces at the murderer. The&#160;general stared at him for a&#160;while in silence.</p><p>&quot;Tt was a&#160;noble gesture,&#8217; he said at last. &#8216;I cannot execute this man. Take&#160;my car and have him led to the frontier. Senor, I&#160;offer you the homage which is due from one brave man to another.&#8217;</p><p>&#8216;A murmur of approbation broke from those who listened. The&#160;A.D.C. tapped the rebel on the shoulder, and between the two soldiers without a&#160;word he marched to the waiting car.&#8217;</p><p>My friend stopped and for a&#160;little I&#160;was silent. I&#160;must explain that he was a&#160;Guatemalecan and spoke to me in Spanish. I&#160;have translated what he told me as well as I&#160;could, but I&#160;have made no attempt to tone down his rather high-flown language. To&#160;tell the truth I&#160;think it suits the&#160;story.</p><p>&#8216;But how then did he get the scar?&#8217; I&#160;asked at length.</p><p>&#8216;Oh, that was due to a&#160;bottle that burst when I&#160;was opening it. A&#160;bottle of ginger ale.&#8217;</p><p>&#8216;I never liked it,&#8217; said&#160;I.</p></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a3">Человек со&#160;шрамом</h2></div><div class="holder-hidden-layer"><p>Впервые я&#160;обратил на&#160;него внимание именно из-за&#160;этого шрама, широкого и&#160;красного, который большим полумесяцем пересекал его лицо от&#160;виска до&#160;подбородка. Очевидно, это был след страшной раны, то&#160;ли от&#160;удара саблей, то&#160;ли от&#160;осколка снаряда. Во&#160;всяком случае, этот шрам выглядел странно на&#160;его круглом, добродушном лице с&#160;мелкими, неприметными чертами и&#160;простоватым выражением. Да&#160;и&#160;само лицо как-то не&#160;вязалось с&#160;таким огромным телом. Это&#160;был могучий человек, выше среднего роста. На&#160;нем всегда был один и&#160;тот&#160;же поношенный серый костюм, рубашка цвета хаки и&#160;мятое сомбреро. Вид&#160;у&#160;него был не&#160;слишком опрятный. Каждый день ко&#160;времени коктейля он&#160;появлялся в&#160;гватемальском &#171;Палас-отеле&#187; и, неторопливо расхаживая по&#160;бару, продавал лотерейные билеты. Если&#160;это был его заработок на&#160;жизнь, то жил он, по&#160;всей вероятности, очень бедно, потому что я&#160;ни&#160;разу не&#160;видел, чтобы кто-нибудь купил у&#160;него билет; однако изредка ему предлагали выпить. Он&#160;никогда не&#160;отказывался. Человек со&#160;шрамом пробирался между столиками осторожно и&#160;как-то вразвалку, словно привык ходить пешком на&#160;далекие расстояния, останавливался у&#160;каждого столика, с&#160;легкой улыбкой называл номера своих билетов и, если на&#160;него не&#160;обращали внимания, с&#160;той&#160;же улыбкой двигался дальше. По-видимому, он&#160;почти всегда был под хмельком.</p><p>Как-то вечером, когда я&#160;с&#160;одним знакомым стоял у&#160;стойки в&#160;баре&#160;&#8212; в&#160;гватемальском &#171;Палас-отеле&#187; готовят превосходный сухой мартини,&#160;&#8212; человек со&#160;шрамом подошел к&#160;нам и&#160;снова, уже в&#160;который раз, вытащил для моего обозрения свои билеты. Я&#160;покачал головой, но&#160;мой знакомый приветливо кивнул&#160;ему.</p><p>&#8212; Que tal, генерал? Как&#160;дела?</p><p>&#8212; Ничего. Дела&#160;идут не&#160;блестяще, но&#160;бывало&#160;хуже.</p><p>&#8212; Что будете&#160;пить?</p><p>&#8212; Бренди.</p><p>Выпив залпом, он&#160;поставил рюмку и&#160;кивнул моему знакомому.</p><p>&#8212; Gracias. Hasta luego [Спасибо. До&#160;скорой встречи (исп.)].</p><p>Затем он&#160;отошел от&#160;нас и&#160;стал предлагать свои билеты другим.</p><p>&#8212; Кто такой?&#160;&#8212; спросил я.&#160;&#8212; Какой у&#160;него ужасный шрам на&#160;лице.</p><p>&#8212; Да, он&#160;его не&#160;украшает. Этот&#160;человек&#160;&#8212; изгнанник из&#160;Никарагуа. Разумеется, головорез и&#160;бандит, но&#160;неплохой малый. Я&#160;даю ему время от&#160;времени несколько песо. Он&#160;был генералом, возглавил там мятеж, и&#160;если&#160;бы не&#160;кончились боеприпасы, он&#160;свергнул&#160;бы правительство и&#160;был&#160;бы военным министром, а&#160;не&#160;продавал лотерейные билеты в&#160;Гватемале. Его&#160;захватили вместе со&#160;всем штабом и&#160;судили военным судом. Такие дела там решаются быстро, и&#160;его приговорили к&#160;расстрелу. В&#160;плену, надо думать, ему сразу стало ясно, что его ждет. Ночь&#160;он&#160;провел в&#160;тюрьме и&#160;вместе с&#160;остальными&#160;&#8212; всего их&#160;было пятеро&#160;&#8212; коротал время за&#160;игрой в&#160;покер, используя вместо фишек спички. Он&#160;говорил мне, что ни&#160;разу в&#160;жизни у&#160;него не&#160;было такой полосы невезения. На&#160;рассвете в&#160;камеру вошли солдаты, чтобы вести заключенных на&#160;казнь. К&#160;этому времени он&#160;успел проиграть больше спичек, чем обычный человек может использовать за&#160;целую&#160;жизнь.</p><p>Их вывели в&#160;тюремный двор и&#160;поставили к&#160;стене, всех пятерых в&#160;ряд лицом к&#160;солдатам. Но&#160;ничего не&#160;последовало, и&#160;наш друг спросил, какого черта их&#160;заставляют ждать. Офицер ответил, что ждут прибытия генерала&#160;&#8212; командующего правительственными войсками, который пожелал присутствовать при&#160;казни.</p><p>&#8212; В таком случае я&#160;еще успею выкурить сигарету,&#160;&#8212; сказал наш друг.&#160;&#8212; Генерал никогда не&#160;отличался точностью.</p><p>Но едва он&#160;закурил, как генерал&#160;&#8212; между прочим, это был Сан-Игнасио, вы с&#160;ним, возможно, встречались&#160;&#8212; появился во&#160;дворе в&#160;сопровождении своего адъютанта. Были&#160;выполнены обычные формальности, и&#160;Сан-Игнасио спросил осужденных, нет&#160;ли у&#160;кого-нибудь из&#160;них последнего желания. Четверо ответили отрицательно, но&#160;наш друг сказал:</p><p>&#8212; Да, я&#160;хотел&#160;бы проститься с&#160;женой.</p><p>&#8212; Bueno [хорошо (исп.)],&#160;&#8212; сказал генерал,&#160;&#8212; я&#160;не&#160;возражаю. Где&#160;она?</p><p>&#8212; Ждет у&#160;ворот тюрьмы.</p><p>&#8212; Тогда это займет не&#160;больше пяти&#160;минут.</p><p>&#8212; Даже меньше, сеньор генерал,&#160;&#8212; сказал наш&#160;друг.</p><p>&#8212; Отведите его в&#160;сторону.</p><p>Два солдата вышли вперед и&#160;отвели осужденного в&#160;указанное место. Офицер по&#160;кивку генерала дал команду, раздался нестройный залп, и те четверо упали. Они&#160;упали странно&#160;&#8212; не&#160;разом, а&#160;один за&#160;другим, нелепо дергаясь, как марионетки в&#160;кукольном театре. Офицер подошел к&#160;ним и&#160;разрядил оба ствола револьвера в&#160;того, который был еще жив. Наш&#160;друг докурил сигарету и&#160;отшвырнул окурок.</p><p>В это время у&#160;ворот произошло какое-то движение. Во&#160;двор быстрыми шагами вошла молодая женщина&#160;&#8212; и&#160;внезапно остановилась, схватившись рукой за&#160;сердце. Потом она вскрикнула и, протянув руки, бросилась вперед.</p><p>&#8212; Caramba [черт возьми (исп.)],&#160;&#8212; сказал генерал.</p><p>Женщина была вся в&#160;черном, волосы покрыты вуалью, лицо мертвенно бледное. Почти девочка&#160;&#8212; тоненькая, с&#160;правильными чертами лица и&#160;огромными глазами. Сейчас в&#160;этих глазах застыл ужас. Она&#160;бежала, полуоткрыв рот, и&#160;так была прекрасна в&#160;своем горе, что даже у&#160;этих ко&#160;всему безразличных солдат вырвался возглас изумления.</p><p>Мятежник шагнул ей&#160;навстречу. Она&#160;кинулась к&#160;нему в&#160;объятия с&#160;хриплым страстным криком: Alma demi cora! Son&#160;&#8212; сердце души&#160;моей.</p><p>Он прильнул к&#160;ее&#160;губам. В&#160;то&#160;же мгновение выхватил нож из-под рваной рубахи&#160;&#8212; уму непостижимо, как ему удалось его там спрятать,&#160;&#8212; и&#160;ударил ее в&#160;шею. Кровь хлынула из&#160;перерезанной вены, обагрив его рубаху. Он&#160;снова обнял жену и&#160;прижался к&#160;ее&#160;губам.</p><p>Многие не&#160;поняли, что произошло&#160;&#8212; настолько быстро все свершилось,&#160;&#8212; у&#160;других&#160;же вырвался крик ужаса, они бросились к&#160;нему и&#160;схватили его за&#160;руки: женщина упала&#160;бы, если&#160;бы адъютант генерала не&#160;подхватил ее. Она&#160;была без сознания. Ее&#160;положили на&#160;землю и&#160;обступили, растерянно глядя на&#160;нее. Мятежник знал, куда нанести удар: остановить кровь было невозможно. Через минуту адъютант, стоявший возле нее на&#160;коленях, поднялся.</p><p>&#8212; Она мертва,&#160;&#8212; прошептал&#160;он.</p><p>Мятежник перекрестился.</p><p>&#8212; Почему ты&#160;это сделал?&#160;&#8212; спросил генерал.</p><p>&#8212; Я&#160;любил&#160;ее.</p><p>Словно вздох пробежал по&#160;рядам; все взгляды были направлены на&#160;убийцу. Генерал молчал и&#160;тоже смотрел на&#160;него.</p><p>&#8212; Это был благородный поступок,&#160;&#8212; сказал наконец генерал.&#160;&#8212; Я&#160;не&#160;могу казнить такого человека. Возьмите мою машину и&#160;отвезите его на&#160;границу. Сеньор, свидетельствую вам свое уважение как смелый человек смелому человеку.</p><p>Послышался ропот одобрения. Адъютант тронул убийцу за&#160;плечо и, не&#160;сказав ни&#160;слова, зашагал между двумя солдатами к&#160;ожидавшей машине.</p><p>Мой знакомый умолк, и я&#160;некоторое время тоже молчал. Должен заметить, что он&#160;был гватемалец и&#160;говорил со&#160;мной по-испански. Я&#160;постарался как можно лучше перевести&#160;то, что услышал, сохранив даже и&#160;его несколько напыщенный слог. Честно говоря, я&#160;думаю, что он&#160;вполне соответствует рассказу.</p><p>&#8212; Но откуда&#160;же этот шрам?&#160;&#8212; спросил я&#160;наконец.</p><p>&#8212; А, это он&#160;как-то раз откупоривал бутылку, и&#160;она разорвалась у&#160;него в&#160;руках. Бутылка шипучки.</p><p>&#8212; Никогда не&#160;любил шипучки,&#160;&#8212; сказал&#160;я.</p></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a4">Vocabulary</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Фраза</th><th>Перевод</th></tr></thead><tbody><tr><td data-label="Фраза">a scar from temple to chin</td><td data-label="Перевод">шрам от&#160;виска до&#160;подбородка</td></tr><tr><td data-label="Фраза">a good-humoured face</td><td data-label="Перевод">добродушное лицо</td></tr><tr><td data-label="Фраза">far from clean</td><td data-label="Перевод">довольно грязный</td></tr><tr><td data-label="Фраза">now and then</td><td data-label="Перевод">время от&#160;времени</td></tr><tr><td data-label="Фраза">an acquaintance</td><td data-label="Перевод">знакомый</td></tr><tr><td data-label="Фраза">to offer a&#160;ticket</td><td data-label="Перевод">протянуть билет кому-либо</td></tr><tr><td data-label="Фраза">to try smb. by&#160;court-martial</td><td data-label="Перевод">судить военным трибуналом</td></tr><tr><td data-label="Фраза">to be sentenced to be shot</td><td data-label="Перевод">быть приговоренным к&#160;расстрелу</td></tr><tr><td data-label="Фраза">to pass the time</td><td data-label="Перевод">проводить время</td></tr><tr><td data-label="Фраза">to never hold a&#160;card</td><td data-label="Перевод">не&#160;везти (об&#160;удаче)</td></tr><tr><td data-label="Фраза">to keep smb. waiting for</td><td data-label="Перевод">заставлять кого-либо ждать</td></tr><tr><td data-label="Фраза">to attend the execution</td><td data-label="Перевод">присутствовать на&#160;казни</td></tr><tr><td data-label="Фраза">to perform the usual formalities</td><td data-label="Перевод">выполнять формальности</td></tr><tr><td data-label="Фраза">regular features</td><td data-label="Перевод">правильные черты лица</td></tr><tr><td data-label="Фраза">to stab</td><td data-label="Перевод">наносить удар ножом</td></tr><tr><td data-label="Фраза">high-flown language</td><td data-label="Перевод">высокопарный язык</td></tr><tr><td data-label="Фраза">due to</td><td data-label="Перевод">из-за&#160;чего-либо</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a5">Plan for Analysis</h2></div><div class="holder-hidden-layer"><h3>Introduction</h3><ol><li>Say what kind of text you are going to analyze (a short story, a&#160;fable. a&#160;fairy&#160;/ folk tale, a&#160;poem, a&#160;ballad, a&#160;legend, a&#160;play, a&#160;novel, or it may be part of some text&#8212;a chapter, an extract, a&#160;passage, an episode from some story or novel).</li><li>What is its title? Usually a&#160;good title excites the readers&#8217; interest, gives clues to what the text is about. With&#160;the help of the title the author draws the readers&#8217; attention to the main characters, the plot, the problems raised in the text, the title may be closely connected with the main theme of the text and help the readers to understand the author&#8217;s message.</li><li>Define the genre (type) of the story (novel). It&#160;may belong to one of the following genres:<ul><li>social&#8212;which studies the effect of social conditions at a&#160;gives time and place upon, human life and conduct:</li><li>psychological which is concerned most with mental and emotional lives of the characters and underlying motivations of human behaviour:</li><li>historical in which the events and characters are drawn from lie past;</li><li>detective in which a&#160;specific criminal problem is solved;</li><li>science fiction which deals with advances in science and technology and their influence on human beings;</li><li>fantastic in which background is quite imaginary and has no connection with reality;</li><li>gothic (horror) deals with mysterious or supernatural occurrences;</li><li>adventure deals with an unusual experience, the course of events is marked by excitement and suspense;</li><li>humorous has the purpose of making readers laugh;</li><li>satirical&#8212;giving a&#160;distorted image of the world, or a&#160;character designed as a&#160;moral or social criticism. </li></ul></li><li>Say a&#160;few words about the author. Judging by the text I&#160;can say that the author possesses:<ul><li>An ability to portray life truthfully, vividly, in all its richness;</li><li>An ability to keep the reader in suspense</li><li>An ability to make people think about problems of great importance</li><li>An ability to depict nature and wild life with love and understanding</li><li>An ability to make people laugh</li><li>An ability to portray characters so vividly that people immediately recognize themselves</li><li>An ability to amuse the readers</li><li>An ability to excite the readers&#8217; curiosity and interest</li><li>An ability to focus more on the psychology of human character than on the plot</li><li>A good sense of humor</li><li>A skill with language</li><li>A great lyrical power</li></ul></li></ol><h3>The Main Part</h3><ol><li>What is the setting?<ul><li>The text under discussion is set&#8230;</li><li>The action starts&#8230; and as the plot goes on it develops&#8230;</li><li>The action covers a&#160;period of&#8230;</li><li>The setting is (un)important in the text under analysis because&#8230;</li></ul></li><li>Who is the narrator?<ul><li>A voice created to talk to the reader and to describe the events</li><li>The main character (one of the characters)</li><li>All the events and characters are seen through his eyes and estimated by him</li><li>The narrator is impartial (he doesn&#8217;t express his attitude towards the events and characters described)</li><li>The narrator is biased (he shows his sympathy, love, respect or criticizes)</li></ul></li><li>Who are the main characters?<ul><li>Say what you have learnt about the characters (their appearance, background, habits)</li><li>Say what you think of the characters (traits of character, merits, drawbacks)</li><li>The author shows his attitude towards the characters directly. He&#160;sympathizes with them (or criticizes)</li><li>The author describes the characters truthfully, lifelike, with understanding, with irony</li><li>The author doesn&#8217;t express his attitude directly, so the readers have to form their own opinions themselves analyzing the characters&#8217; actions, thoughts, speeches or the opinions of the other characters</li><li>The author gives a&#160;psychological insight into the characters</li></ul></li><li>Speak about the plot and give a&#160;short summary of the text.</li><li>Speak about the themes developed in the text.</li><li>What is the message the author wants to bring home to the reader?<ul><li>The subject is drawn from life</li><li>The author focuses his attention on</li><li>The author touches upon a&#160;wide range of problems</li><li>The author studies the nature of relationship between people</li><li>The author criticizes the evils and injustices of&#8230;</li><li>The author&#8217;s object is to show&#8230;</li></ul></li></ol><h3>Give your personal appreciation of the text under analysis</h3><ul><li>The text appeals to me, stirs my soul, excites my interest, moves me to tears</li><li>It helps to look at ourselves (society, family) from a&#160;different angle</li><li>The text has made (produced) a&#160;deep impression on me</li><li>Say what you enjoyed (fresh and original ideas; the rich and colourful language; the author&#8217;s sense of humour, the intriguing plot; some shocking situations and events, detailed descriptions, the power of the author&#8217;s imagination, the author&#8217;s deep psychological insight into the inner world of the characters)</li></ul></div>
								<h2>Далее</h2>
								<div class="holder-bottom-navigation"><a href="#/reading_russia_ukraine_war_conflict_vocabulary" class="btn-larger btn-primary fit-half-width">Следующая</a><a href="#/contents" class="btn-larger btn-secondary fit-half-width">Содержание</a></div>
							</div>
						</div>
					</div>
				</div>
