				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Much&#160;/ many&#160;/ little&#160;/ few</h1><p class="subhead">Не ставьте &#171;much&#187; в&#160;утвердительных предложениях, если перед ним не&#160;стоит &#171;so&#160;/ very&#160;/ too&#187;. Действия, а не&#160;предметы характеризуйте, используя &#171;a lot&#160;/ much&#160;/ little&#160;/ a little&#187;.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
								<div class="holder-chapters-select">
									<form method="get" action="javascript:void(0);">
										<p>
											<select class="chapters-select" id="chapters-select" aria-label="Select / Выбрать">
												<option value="" disabled="" selected="">Переход к&#160;главам&#8230;</option>
												<option value="#a1">Много чего-то</option>
												<option value="#a2">Делать что-то много</option>
												<option value="#a3">Мало чего-то</option>
												<option value="#a4">Немного чего-то</option>
												<option value="#a5">Делать что-то мало</option>
												<option value="#a6">Делать что-то немного</option>
											</select>
										</p>
									</form>
								</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Много чего-то</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>&#160;</th><th>Исчисляемые</th><th>Неисчисляемые</th></tr></thead><tbody><tr><td>Утвердительное</td><td data-label="Исчисляемые"><span class="italic">There are <span class="bolder">a lot of&#160;/ many</span> cars on the street.</span></td><td data-label="Неисчисляемые"><span class="italic">There is <span class="bolder">a lot of</span> snow on the street.</span></td></tr><tr><td>Отрицательное</td><td data-label="Исчисляемые"><span class="italic">There aren&#8217;t <span class="bolder">a lot of&#160;/ many</span> cars on the street.</span></td><td data-label="Неисчисляемые"><span class="italic">There isn&#8217;t <span class="bolder">a lot of&#160;/ much</span> snow on the street.</span></td></tr><tr><td>Вопросительное</td><td data-label="Исчисляемые"><span class="italic">Are there <span class="bolder">a lot of&#160;/ many</span> cars on the street?</span></td><td data-label="Неисчисляемые"><span class="italic">Is there <span class="bolder">a lot of&#160;/ much</span> snow on the street?</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">Делать что-то много</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><tbody><tr><td>Утвердительное</td><td><span class="italic">He drinks coffee <span class="bolder">a lot</span>.</span></td></tr><tr><td>Отрицательное</td><td><span class="italic">He doesn&#8217;t drink coffee <span class="bolder">much</span>.</span></td></tr><tr><td>Вопросительное</td><td><span class="italic">Does he drink coffee <span class="bolder">much</span>?</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a3">Мало чего-то</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Исчисляемые</th><th>Неисчисляемые</th></tr></thead><tbody><tr><td data-label="Исчисляемые"><span class="italic"> I&#8217;ve got <span class="bolder">little</span> time.</span></td><td data-label="Неисчисляемые"><span class="italic"> There are <span class="bolder">few</span> passengers on the bus.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a4">Немного чего-то</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Исчисляемые</th><th>Неисчисляемые</th></tr></thead><tbody><tr><td data-label="Исчисляемые"><span class="italic"> I&#8217;ve got <span class="bolder">a little</span> time.</span></td><td data-label="Неисчисляемые"><span class="italic"> There are <span class="bolder">a few</span> passengers on the bus.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a5">Делать что-то мало</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><tbody><tr><td><span class="italic">He spoke <span class="bolder">little</span> English, so it was difficult to communicate with him.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a6">Делать что-то немного</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><tbody><tr><td><span class="italic"> He spoke <span class="bolder">a little</span> English, so we were able to communicate with him.</span></td></tr></tbody></table></div>
								<h2>Далее</h2>
								<div class="holder-bottom-navigation"><a href="#/grammar_or_nor_neither" class="btn-larger btn-primary fit-half-width">Следующая</a><a href="#/contents" class="btn-larger btn-secondary fit-half-width">Содержание</a></div>
							</div>
						</div>
					</div>
				</div>
