				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Перевод причастий и&#160;деепричастий</h1><p class="subhead">Как глагольная форма, причастие в&#160;английском языке имеет формы времени. Причастие (&#171;Participle&#187;) в&#160;английском языке является неличной формой глагола и&#160;сочетает в&#160;себе признаки прилагательного, глагола и&#160;наречия. Английское причастие настоящего времени (&#171;Participle I&#160;/ Present Participle&#187;) и&#160;причастие прошедшего времени (&#171;Participle II&#160;/ Past Participle&#187;) соответствует и&#160;причастию, и&#160;деепричастию в&#160;русском&#160;языке.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
								<div class="holder-chapters-select">
									<form method="get" action="javascript:void(0);">
										<p>
											<select class="chapters-select" id="chapters-select" aria-label="Select / Выбрать">
												<option value="" disabled="" selected="">Переход к&#160;главам&#8230;</option>
												<option value="#a1">Причастие</option>
												<option value="#a2">Деепричастие</option>
												<option value="#a3">Нюансы</option>
											</select>
										</p>
									</form>
								</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Причастие</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption>действительное</caption><thead><tr><th>Правило</th><th>Значение</th></tr></thead><tbody><tr><td data-label="Правило"><span class="bolder">reading</span></td><td data-label="Значение">читающий</td></tr></tbody></table><table class="respond fit-width"><caption>страдательное</caption><thead><tr><th>Правило</th><th>Значение</th></tr></thead><tbody><tr><td data-label="Правило"><span class="bolder">being read</span></td><td data-label="Значение">читаемый (который читают)</td></tr><tr><td data-label="Правило"><span class="bolder">read</span></td><td data-label="Значение">прочитанный</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">Деепричастие</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption>действительное</caption><thead><tr><th>Правило</th><th>Значение</th></tr></thead><tbody><tr><td data-label="Правило"><span class="bolder">reading</span></td><td data-label="Значение">читая</td></tr><tr><td data-label="Правило"><span class="bolder">having read</span></td><td data-label="Значение">прочитав</td></tr></tbody></table><table class="respond fit-width"><caption>страдательное</caption><thead><tr><th>Правило</th><th>Значение</th></tr></thead><tbody><tr><td data-label="Правило"><span class="bolder">being read</span></td><td data-label="Значение">будучи читаемым (когда его читали)</td></tr><tr><td data-label="Правило"><span class="bolder">being read</span></td><td data-label="Значение">будучи прочитанным (когда его прочитали)</td></tr><tr><td data-label="Правило"><span class="bolder">having been read</span></td><td data-label="Значение">будучи прочитанным (когда его прочитали)</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a3">Нюансы</h2></div><div class="holder-hidden-layer"><p>Придаточное определительное со&#160;значением незавершенного действия в&#160;прошлом в&#160;английском соответствует действительному причастию прошедшего времени несовершенного вида в&#160;русском:</p><p class="blockquote"><span class="bolder">who read</span>&#160;&#8212; читавший (который читал).</p><p>Придаточное определительное со&#160;значением завершенного действия в&#160;прошлом в&#160;английском соответствует действительному причастию прошедшего времени совершенного вида в&#160;русском:</p><p class="blockquote"><span class="bolder">who has read&#160;/ who had read</span>&#160;&#8212; прочитавший (который прочитал).</p></div>
								<h2>Далее</h2>
								<div class="holder-bottom-navigation"><a href="#/grammar_usage_of_articles_a_the" class="btn-larger btn-primary fit-half-width">Следующая</a><a href="#/contents" class="btn-larger btn-secondary fit-half-width">Содержание</a></div>
							</div>
						</div>
					</div>
				</div>
