				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Нарицательное&#160;/ собственное</h1><p class="subhead">Существительные, классифицирующие объекты, например, &#171;building&#187; (здание) являются именами нарицательными и&#160;пишутся с&#160;прописной&#160;буквы. Если Вы говорите о&#160;конкретном здании, например, &#171;Glazier Building&#187;, то такое существительное является именем собственным и&#160;пишется с&#160;заглавной&#160;буквы.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
								<div class="holder-chapters-select">
									<form method="get" action="javascript:void(0);">
										<p>
											<select class="chapters-select" id="chapters-select" aria-label="Select / Выбрать">
												<option value="" disabled="" selected="">Переход к&#160;главам&#8230;</option>
												<option value="#a1">Сравните</option>
											</select>
										</p>
									</form>
								</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Сравните</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Нарицательное</th><th>Собственное</th></tr></thead><tbody><tr><td data-label="Нарицательное">city</td><td data-label="Собственное">Kansas City</td></tr><tr><td data-label="Нарицательное">company</td><td data-label="Собственное">Blaisden Company</td></tr><tr><td data-label="Нарицательное">store</td><td data-label="Собственное">Books Galore</td></tr><tr><td data-label="Нарицательное">holiday</td><td data-label="Собственное">Christmas</td></tr><tr><td data-label="Нарицательное">month</td><td data-label="Собственное">May</td></tr><tr><td data-label="Нарицательное">weekday</td><td data-label="Собственное">Wednesday</td></tr><tr><td data-label="Нарицательное">water body</td><td data-label="Собственное">the Atlantic Ocean</td></tr><tr><td data-label="Нарицательное">land</td><td data-label="Собственное">France</td></tr></tbody></table></div>
								<p class="address" role="contentinfo">(Handbook of grammar, mechanics, and usage: Proper Nouns and Common Nouns. &#169;&#160;Premedia 2009, P. 3-4)</p>
								<h2>Далее</h2>
								<div class="holder-bottom-navigation"><a href="#/grammar_conditionals" class="btn-larger btn-primary fit-half-width">Следующая</a><a href="#/contents" class="btn-larger btn-secondary fit-half-width">Содержание</a></div>
							</div>
						</div>
					</div>
				</div>
