				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Who&#160;/ which&#160;/ that и&#160;запятые</h1><p class="subhead">Придаточные предложения выделяются запятыми в&#160;том случае, когда оборот содержит дополнительную информацию о&#160;субъекте&#160;/ объекте.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
								<div class="holder-chapters-select">
									<form method="get" action="javascript:void(0);">
										<p>
											<select class="chapters-select" id="chapters-select" aria-label="Select / Выбрать">
												<option value="" disabled="" selected="">Переход к&#160;главам&#8230;</option>
												<option value="#a1">Процедура</option>
											</select>
										</p>
									</form>
								</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Процедура</h2></div><div class="holder-hidden-layer"><p>Придаточные предложения выделяются запятыми в&#160;том случае, когда оборот содержит дополнительную информацию о&#160;субъекте&#160;/ объекте:</p><p class="blockquote">Anna told me about her new job, which she&#8217;s enjoying a&#160;lot.</p><p>В данном примере объект <span class="bolder">a new job</span> уже самодостаточен и&#160;дополняется информацией <span class="bolder">which she&#8217;s enjoying a lot</span>.</p><p>А теперь сравните со&#160;следующим примером:</p><p class="blockquote">Grace works for a company that makes furniture.</p><p>Здесь <span class="bolder">a company</span> уточняется придаточным <span class="bolder">that makes furniture</span>, которое не&#160;несет дополнительной информации.</p><p>Сравните еще два примера:</p><p class="blockquote">1) We stayed at the Park Hotel, which a friend of ours recommended.</p><p class="blockquote">2) We stayed at the hotel (that) you recommended.</p></div>
								<p class="address" role="contentinfo">(Raymond Murphy. English Grammar in Use Extra: Relative clauses 1: clauses with who/that/which. Fourth Edition. &#169;&#160;Cambridge University Press 2012, P. 190)</p>
								<h2>Далее</h2>
								<div class="holder-bottom-navigation"><a href="#/grammar_common_and_proper_nouns" class="btn-larger btn-primary fit-half-width">Следующая</a><a href="#/contents" class="btn-larger btn-secondary fit-half-width">Содержание</a></div>
							</div>
						</div>
					</div>
				</div>
