				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Заимствованные слова</h1><p class="subhead">Слова заимствованные и&#160;знакомые англоязычным читателям, представленные в&#160;словаре &#171;Webster&#8217;s&#187;, отображаются латиницей (не&#160;наклонным шрифтом), если используются в&#160;английском контексте, с&#160;соблюдением орфографии по&#160;словарю &#171;Webster&#8217;s&#187;.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
								<div class="holder-chapters-select">
									<form method="get" action="javascript:void(0);">
										<p>
											<select class="chapters-select" id="chapters-select" aria-label="Select / Выбрать">
												<option value="" disabled="" selected="">Переход к&#160;главам&#8230;</option>
												<option value="#a1">Процедура</option>
											</select>
										</p>
									</form>
								</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Процедура</h2></div><div class="holder-hidden-layer"><p>Немецкие существительные, включенные в <span class="italic">Webster&#8217;s</span>, пишутся с&#160;прописной&#160;буквы.</p><p>&#8212; pasha, weltanschauung, in vitro, a priori, recherch&#233;, the kaiser, de novo, eros and&#160;agape</p><p>Но:</p><p>&#8212; He never missed a chance to <span class="italic">&#233;pater les bourgeois</span>.</p><p>Если в&#160;одном контексте общеупотребительное выражение <span class="italic">mise en sc&#232;ne</span> присутствует с&#160;менее знакомым читателям выражением, например, <span class="italic">mise en bouteille</span>, не&#160;представленным в <span class="italic">Webster&#8217;s</span>, то соблюдается единое оформление&#160;&#8212; либо наклонным шрифтом, либо обычным.</p></div>
								<p class="address" role="contentinfo">(The Chicago Manual of Style: Roman for familiar foreign words. 16th Edition. &#169;&#160;University of Chicago Press. 2010, P. 959)</p>
								<h2>Далее</h2>
								<div class="holder-bottom-navigation"><a href="#/grammar_glossary_of_grammatical_terms" class="btn-larger btn-primary fit-half-width">Следующая</a><a href="#/contents" class="btn-larger btn-secondary fit-half-width">Содержание</a></div>
							</div>
						</div>
					</div>
				</div>
