				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Модальные глаголы</h1><p class="subhead">Модальный глагол указывает, в&#160;каком режиме производится действие, cуть&#160;же действия передается следующим за&#160;модальным смысловым глаголом.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
								<div class="holder-chapters-select">
									<form method="get" action="javascript:void(0);">
										<p>
											<select class="chapters-select" id="chapters-select" aria-label="Select / Выбрать">
												<option value="" disabled="" selected="">Переход к&#160;главам&#8230;</option>
												<option value="#a1">Процедура</option>
												<option value="#a2">Инфинитивы и&#160;многозначность</option>
												<option value="#a3">Прошедшие формы</option>
												<option value="#a4">Конструкция be&#160;able&#160;to</option>
												<option value="#a5">Сравните примеры</option>
											</select>
										</p>
									</form>
								</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Процедура</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Правило</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Правило">Модальные глаголы имеют формы прошедшего времени</td><td data-label="Пример"><span class="italic">I could swim.</span></td></tr><tr><td data-label="Правило">Некоторые не&#160;имеют. В&#160;таком случае вместо них используют дублирующие конструкции</td><td data-label="Пример"><span class="italic">I must&#160;go. I&#160;had to go.</span></td></tr><tr><td data-label="Правило">Для некоторых модальных глаголов используются следующие дублирующие конструкции:</td><td data-label="Пример"><span class="italic">Must = have to = to be&#160;to<br />Can = to be able&#160;to<br />May = to be&#160;allowed&#160;to</span></td></tr><tr><td data-label="Правило">Модальные глаголы не&#160;имеют форм будущего времени, и&#160;здесь опять приходят на&#160;помощь дублирующие конструкции</td><td data-label="Пример"><span class="italic">I must&#160;go. I&#160;had to&#160;go. I&#160;will have to go.</span></td></tr><tr><td data-label="Правило">Ставя модальный глагол перед подлежащим, мы&#160;образуем вопросительное предложение</td><td data-label="Пример"><span class="italic">Can you swim?</span></td></tr><tr><td data-label="Правило">Добавляя частицу not после модального глагола, образуем отрицательное предложение</td><td data-label="Пример"><span class="italic">I cannot swim.</span></td></tr><tr><td data-label="Правило">Если вместо модальных глаголов используются дублирующие конструкции, то вопросительные и&#160;отрицательные предложения образуются с&#160;помощью вспомогательного глагола <span class="bolder">do</span></td><td data-label="Пример"><span class="italic">Do I&#160;have to return the car to this location? You&#160;don&#8217;t have to be there.</span></td></tr><tr><td data-label="Правило">Если в&#160;состав этих конструкций уже входят вспомогательные глаголы, <span class="bolder">do</span> не&#160;нужен</td><td data-label="Пример"><span class="italic">Are you able to fix&#160;it? Will&#160;you be&#160;able&#160;to fix it tomorrow? I&#160;won&#8217;t be&#160;able&#160;to fix it tomorrow.</span></td></tr><tr><td data-label="Правило">Прошедшие формы модальных глаголов могут иметь иной смысл, чем формы настоящего времени</td><td data-label="Пример"><span class="italic">I shall do it. Я&#160;это сделаю. I&#160;should do it. Я&#160;должен (мне следует) это сделать.</span></td></tr><tr><td data-label="Правило">В разговорной речи некоторые модальные глаголы заменяются другими модальными глаголами или эквивалентными конструкциями. Так, необходимость действия могут выражать следующие глаголы:</td><td data-label="Пример"><span class="italic">I must go = I&#160;should go = I&#160;have to go = I&#8217;ve got to go (I gotta go) = I&#160;need to go</span></td></tr><tr><td data-label="Правило">В разговорной речи глагол <span class="bolder">have</span> после некоторых модальных глаголов редуцируется до <span class="bolder">a</span></td><td data-label="Пример"><span class="italic">It musta been him.</span></td></tr><tr><td data-label="Правило">Видовой глагол <span class="bolder">need</span> (близкий по&#160;значению к&#160;<span class="bolder">should</span> и&#160;<span class="bolder">have to</span>) имеет следующие вариации:</td><td data-label="Пример"><span class="italic">I need to&#160;go. I&#160;needn&#8217;t go = I&#160;don&#8217;t need to&#160;go. Need&#160;I&#160;go? = Do I&#160;need to go?</span></td></tr><tr><td data-label="Правило">Смысловой глагол <span class="bolder">have</span> имеет схожие вариации:</td><td data-label="Пример"><span class="italic">Had he a sister? = Did he have a sister?</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">Инфинитивы и&#160;многозначность</h2></div><div class="holder-hidden-layer"><p>После модального глагола может быть глагол в&#160;виде простого, континиусного, перфектного, пассивного, перфектно-пассивного инфинитива без частицы <span class="bolder">to</span> (кроме <span class="bolder">ought to</span>). Причем, один и&#160;тот&#160;же модальный глагол с&#160;разными инфинитивами может иметь разные значения. Глагол <span class="bolder">would</span> может&#160;быть&#8230;</p><p>&#8212; вспомогательным:</p><table class="respond fit-width"><caption></caption><thead><tr><th>Правило</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Правило">Используется для образования будущего в&#160;прошедшем во 2&#160;и 3&#160;лице</td><td data-label="Пример"><span class="italic">He told us he would come.</span>&#160;&#8212; Он сказал нам, что он&#160;придет</td></tr><tr><td data-label="Правило">Используется для образования условного наклонения</td><td data-label="Пример"><span class="italic">He told us he would come.</span>&#160;&#8212; Он сказал нам, что он&#160;придет</td></tr></tbody></table><p>&#8212; служебным глаголом:</p><table class="respond fit-width"><caption></caption><thead><tr><th>Правило</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Правило">Выражающим привычное действие, относящееся к&#160;прошлому</td><td data-label="Пример"><span class="italic">We would meet often for lunch.</span>&#160;&#8212; Мы, бывало, часто вместе обедали</td></tr></tbody></table><p>&#8212; модальным глаголом, выражающим:</p><table class="respond fit-width"><caption></caption><thead><tr><th>Значение</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Значение">Настойчивость</td><td data-label="Пример"><span class="italic">He would do it.</span>&#160;&#8212; Он непременно хотел это сделать</td></tr><tr><td data-label="Значение">Желание</td><td data-label="Пример"><span class="italic">He wouldn&#8217;t say where he had picked up the information.</span>&#160;&#8212; Он ни за&#160;что не&#160;хотел говорить, откуда он&#160;это узнал</td></tr><tr><td data-label="Значение">Вероятность</td><td data-label="Пример"><span class="italic">That would be her cat.</span>&#160;&#8212; Это, вероятно, ее&#160;кошка</td></tr><tr><td data-label="Значение">Вежливую просьбу</td><td data-label="Пример"><span class="italic">Would you please help us.</span>&#160;&#8212; Не могли&#160;бы Вы помочь нам</td></tr><tr><td data-label="Значение">Предпочтение</td><td data-label="Пример"><span class="italic">He would sooner die than face them.</span>&#160;&#8212; Он скорее умрет, чем встретится с&#160;ними лицом к&#160;лицу</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a3">Прошедшие формы</h2></div><div class="holder-hidden-layer"><p>Обратите внимание, что прошедшие формы модальных глаголов не&#160;всегда выражают действия, произошедшие в&#160;прошлом:</p><table class="respond fit-width"><caption></caption><thead><tr><th>Пример</th><th>Значение</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">He could have spent his holidays at the Carribeans, but he fell ill.</span></td><td data-label="Значение">Он мог&#160;бы поехать в&#160;отпуск на&#160;Карибские острова, но&#160;заболел. (неосуществленная возможность в&#160;прошлом)</td></tr><tr><td data-label="Пример"><span class="italic">He could not have done it.</span></td><td data-label="Значение">Вряд&#160;ли он&#160;сделал это. (большая степень сомнения)</td></tr><tr><td data-label="Пример"><span class="italic">Could you be so kind as to tell me the time, please?</span></td><td data-label="Значение">Не подскажете&#160;ли, который час? (вежливая просьба что-л. сделать)</td></tr><tr><td data-label="Пример"><span class="italic">I could fly for joy.</span></td><td data-label="Значение">Мне хотелось парить от&#160;радости</td></tr><tr><td data-label="Пример"><span class="italic">She could burst for anger.</span></td><td data-label="Значение">Она была готова взорваться от&#160;гнева. (с глаголами, описывающими эмоциональное состояние человека, выражает склонность что-л. сделать)</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a4">Конструкция be&#160;able&#160;to</h2></div><div class="holder-hidden-layer"><p>Употребление модальных глаголов <span class="bolder">can, could</span> и&#160;модальной конструкции <span class="bolder">be&#160;able&#160;to</span> для выражения способности или возможности:</p><table class="respond fit-width"><caption></caption><thead><tr><th>Правило</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Правило">Если нужно сообщить об&#160;умении, способности кого-либо делать что-то, можно использовать <span class="bolder">can</span> для обозначения настоящего времени и&#160;<span class="bolder">could</span>&#160;&#8212; для обозначения прошедшего времени. <span class="bolder">Сan</span> и&#160;<span class="bolder">could</span> можно заменить конструкцией <span class="bolder">be&#160;able&#160;to</span>, однако, <span class="bolder">can</span> и&#160;<span class="bolder">could</span> употребляются чаще</td><td data-label="Пример"><span class="italic">He can (is able to) speak ten languages.</span>&#160;&#8212; Он умеет (может) говорить на&#160;десяти языках.<br /><span class="italic">He&#160;could (was able to) swim when he was small.</span>&#160;&#8212; Он мог (умел) плавать, когда был маленьким</td></tr><tr><td data-label="Правило">Если речь идет о&#160;том, что кто-то сумел осуществить что-то в&#160;некоторой определенной ситуации в&#160;прошлом, используется конструкция <span class="bolder">be&#160;able&#160;to, could</span> в&#160;этом случае не&#160;употребляется. <span class="bolder">Could</span> чаще употребляется в&#160;том случае, когда речь идет о&#160;чьих-либо способностях и&#160;умениях</td><td data-label="Пример"><span class="italic">They didn&#8217;t want to sell the house but we were able to persuade them.</span>&#160;&#8212; Они не&#160;хотели продавать дом, но мы&#160;сумели убедить их&#160;сделать это.<br /><span class="italic">She&#160;could play the piano quite well.</span>&#160;&#8212; Она умела довольно хорошо играть на&#160;пианино</td></tr></tbody></table><p>Сочетание <span class="bolder">can</span> и&#160;<span class="bolder">could</span> с&#160;глаголами чувственного восприятия: <span class="italic">feel</span>&#160;&#8212; &#171;чувствовать&#187;, <span class="italic">hear</span>&#160;&#8212; &#171;слышать&#187;, <span class="italic">see</span>&#160;&#8212; &#171;видеть&#187;, <span class="italic">smell</span>&#160;&#8212; &#171;чувствовать запах&#187;, <span class="italic">taste</span>&#160;&#8212; &#171;пробовать на&#160;вкус&#187;; а&#160;также с&#160;глаголами умственного состояния: <span class="italic">believe</span>&#160;&#8212; &#171;верить&#187;, <span class="italic">decide</span>&#160;&#8212; &#171;решать&#187;, <span class="italic">remember</span>&#160;&#8212; &#171;помнить&#187;, <span class="italic">understand</span>&#160;&#8212; &#171;понимать&#187;, может иметь два значения:</p><table class="respond fit-width"><caption></caption><thead><tr><th>Значение</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Значение">Возможность действия</td><td data-label="Пример"><span class="italic">I could see the mountains through the window.</span>&#160;&#8212; Я&#160;видел горы через окно. (через окно была возможность увидеть горы)</td></tr><tr><td data-label="Значение">Само это действие, реально происходившее в&#160;некоторый момент времени</td><td data-label="Пример"><span class="italic">I can remember vividly my mother telling me horror stories about her school days.</span>&#160;&#8212; Я&#160;живо помню, как мама рассказывала мне страшные истории о ее&#160;школьных годах</td></tr></tbody></table><p>Конструкция <span class="bolder">be&#160;able&#160;to</span> не&#160;используется в&#160;следующих случаях:</p><table class="respond fit-width"><caption></caption><thead><tr><th>Правило</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Правило">При описании события, происходящего в&#160;момент речи</td><td data-label="Пример"><span class="italic">Look, I&#160;can swim!</span>&#160;&#8212; Смотри, я&#160;плыву! (у&#160;меня получается плавать)</td></tr><tr><td data-label="Правило">Перед пассивным инфинитивом <span class="bolder">be done</span></td><td data-label="Пример"><span class="italic">This chemical can be used as invisible ink.</span>&#160;&#8212; Это химическое вещество может быть использовано как невидимые чернила</td></tr></tbody></table><p>Конструкция <span class="bolder">be&#160;able&#160;to</span> используется:</p><table class="respond fit-width"><caption></caption><thead><tr><th>Правило</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Правило">Перед инфинитивом с&#160;частицей <span class="bolder">to</span>, перед <span class="bolder">-ing</span> формой, перед глагольными формами, выражающими время группы <span class="italic">Perfect</span>, а&#160;также после модальных глаголов. <span class="bolder">Can</span> и&#160;<span class="bolder">could</span> в&#160;этих случаях не&#160;используются</td><td data-label="Пример"><span class="italic">In either case, the firm&#8217;s competitors would have been able to sell lower priced furniture.</span>&#160;&#8212; В&#160;любом случае конкуренты фирмы имели&#160;бы возможность продавать более дешевую мебель</td></tr><tr><td data-label="Правило">Чтобы сообщить о&#160;чем-то, что можно будет сделать в&#160;будущем, используется сочетание <span class="bolder">will be&#160;able&#160;to</span>. Употребление глагола can в&#160;этом случае невозможно</td><td data-label="Пример"><span class="italic">No doubt in the morning he will be&#160;able&#160;to explain everything.</span>&#160;&#8212; Утром он, без сомнения, все сможет объяснить</td></tr><tr><td data-label="Правило">Чтобы предложить кому-либо сделать что-то в&#160;будущем используют <span class="bolder">can</span></td><td data-label="Пример"><span class="italic">We can go to the cinema tomorrow.</span>&#160;&#8212; Мы можем завтра пойти в&#160;кино</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a5">Сравните примеры</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Пример</th><th>Значение</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">He must sell his car&#8230;</span></td><td data-label="Значение">Он должен продать (он&#160;так решил)&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">He mustn&#8217;t sell&#8230;</span></td><td data-label="Значение">Он не&#160;должен (ему запрещается) продавать&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">He must be selling&#8230;now</span></td><td data-label="Значение">Он, должно быть (сейчас) продает&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">He must be selling&#8230;tomorrow</span></td><td data-label="Значение">Он должен будет продавать&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">He must have sold&#8230;</span></td><td data-label="Значение">Должно быть, он&#160;продал&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">He probably didn&#8217;t sell his car&#8230;</span></td><td data-label="Значение">Должно быть, он не&#160;продал&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">Maybe he didn&#8217;t sell&#8230;</span></td><td data-label="Значение">Должно быть, он не&#160;продал&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">He might have sold&#8230;</span></td><td data-label="Значение">(Вероятно) он&#160;продал (а&#160;может, и&#160;нет)&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">He can&#8217;t have sold&#8230;</span></td><td data-label="Значение">Он не&#160;должен был продавать (но&#160;продал)&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">He should have sold&#8230;</span></td><td data-label="Значение">Он должен был продать (но не&#160;продал)&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">He should sell&#8230;</span></td><td data-label="Значение">Ему следует продать&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">He needn&#8217;t have sold&#8230;</span></td><td data-label="Значение">Он мог и&#160;не&#160;продавать (но&#160;продал)&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">He didn&#8217;t need to sell&#8230;</span></td><td data-label="Значение">Ему не&#160;нужно было продавать (и не&#160;продал)&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">He didn&#8217;t have to sell&#8230;</span></td><td data-label="Значение">Ему не&#160;пришлось продавать&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">He had to sell&#8230;</span></td><td data-label="Значение">Ему пришлось продать&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">He was to sell&#8230;</span></td><td data-label="Значение">Ему предстояло продать&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">He may sell&#8230;</span></td><td data-label="Значение">Он, может быть, продаст&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">He might sell&#8230;</span></td><td data-label="Значение">Он (вероятно) может продать&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">He can sell&#8230;</span></td><td data-label="Значение">Может так случится, что он&#160;продаст&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">He is allowed to sell&#8230;</span></td><td data-label="Значение">Он может (ему разрешается) продать&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">He will be&#160;allowed&#160;to sell&#8230;</span></td><td data-label="Значение">Ему разрешат (позволят) продать&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">Is he allowed to sell&#8230;?</span></td><td data-label="Значение">Ему можно (разрешается) продать&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">He is able to sell&#8230;</span></td><td data-label="Значение">Он может (в&#160;состоянии) продать&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">Can he sell&#8230;</span></td><td data-label="Значение">Неужели он&#160;продаст&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">Can he be selling&#8230;?</span></td><td data-label="Значение">Неужели он (прямо сейчас) продает&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">Can he have sold&#8230;?</span></td><td data-label="Значение">Heужели он&#160;уже продал&#8230;?</td></tr><tr><td data-label="Пример"><span class="italic">He can&#8217;t sell&#8230;</span></td><td data-label="Значение">Он не&#160;может продать (мы&#160;против)&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">He can&#8217;t have sold&#8230;</span></td><td data-label="Значение">Не может быть, что он (уже) продал&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">You can&#8217;t sell&#8230;</span></td><td data-label="Значение">Вы не&#160;можете (не&#160;имеете права) продавать&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">You may sell&#8230;</span></td><td data-label="Значение">Вы можете (Вам разрешается) продать&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">I may sell&#8230;</span></td><td data-label="Значение">Я, может быть, продам&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">You might/may as well sell&#8230;</span></td><td data-label="Значение">Можете также продать&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">Need he sell&#8230;?</span></td><td data-label="Значение">Ему необходимо продать&#8230;?</td></tr><tr><td data-label="Пример"><span class="italic">Does he need to sell?</span></td><td data-label="Значение">Ему необходимо продать&#8230;?</td></tr><tr><td data-label="Пример"><span class="italic">He needn&#8217;t sell&#8230;</span></td><td data-label="Значение">Ему не&#160;надо (нет необходимости) продавать&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">He doesn&#8217;t need to sell&#8230;</span></td><td data-label="Значение">Ему не&#160;надо (нет необходимости) продавать&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">He will sell&#8230;</span></td><td data-label="Значение">Он продаст&#8230; (Вы&#160;же его знаете)</td></tr><tr><td data-label="Пример"><span class="italic">He could sell&#8230;</span></td><td data-label="Значение">смог продать&#8230; (сумел, косвенная речь)</td></tr><tr><td data-label="Пример"><span class="italic">He was able to sell&#8230;</span></td><td data-label="Значение">мог продавать&#8230; (был в&#160;состоянии)</td></tr><tr><td data-label="Пример"><span class="italic">He could have sold&#8230;</span></td><td data-label="Значение">мог&#160;бы и&#160;продать&#8230; (раньше)</td></tr><tr><td data-label="Пример"><span class="italic">He would sell&#8230;</span></td><td data-label="Значение">продаст&#8230; (косвенная речь)</td></tr><tr><td data-label="Пример"><span class="italic">He would be selling&#8230;</span></td><td data-label="Значение">будет продавать&#8230; (косвенная речь)</td></tr><tr><td data-label="Пример"><span class="italic">He would have sold&#8230;</span></td><td data-label="Значение">продаст&#8230; (косвенная речь)</td></tr><tr><td data-label="Пример"><span class="italic">He would have been selling&#8230;</span></td><td data-label="Значение">(все еще) будет продавать&#8230; (косвенная речь)</td></tr><tr><td data-label="Пример"><span class="italic">Must I&#8230;?</span></td><td data-label="Значение">Мне обязательно&#8230;?</td></tr><tr><td data-label="Пример"><span class="italic">Shall I&#8230;?</span></td><td data-label="Значение">Мне (надо это делать)&#8230;?</td></tr><tr><td data-label="Пример"><span class="italic">Should I&#8230;?</span></td><td data-label="Значение">Должен&#160;ли я (следует&#160;ли мне)&#8230;?</td></tr><tr><td data-label="Пример"><span class="italic">Why should I&#8230;?</span></td><td data-label="Значение">С какой стати&#8230;?</td></tr><tr><td data-label="Пример"><span class="italic">May I&#8230;?</span></td><td data-label="Значение">Разрешите&#8230;?</td></tr><tr><td data-label="Пример"><span class="italic">Can I&#8230;?</span></td><td data-label="Значение">Можно&#8230;?</td></tr><tr><td data-label="Пример"><span class="italic">Can you&#8230;?</span></td><td data-label="Значение">Вы можете&#8230;?</td></tr><tr><td data-label="Пример"><span class="italic">Could you&#8230;?</span></td><td data-label="Значение">Вы не&#160;могли бы&#8230;?</td></tr><tr><td data-label="Пример"><span class="italic">If I&#160;could&#8230;</span></td><td data-label="Значение">Если&#160;бы я&#160;мог&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">If only I&#160;could&#8230;</span></td><td data-label="Значение">Если&#160;бы я&#160;только мог&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">If you should&#8230;</span></td><td data-label="Значение">Если так случится, что Вы&#8230;</td></tr><tr><td data-label="Пример"><span class="italic">Would you please&#8230;?</span></td><td data-label="Значение">Вы не&#160;могли бы&#8230;?</td></tr><tr><td data-label="Пример"><span class="italic">&#8230;, will you?</span></td><td data-label="Значение">Будьте добры,&#8230;?</td></tr><tr><td data-label="Пример"><span class="italic">Would you like to&#8230;</span></td><td data-label="Значение">Вы не&#160;желаете&#8230;?</td></tr><tr><td data-label="Пример"><span class="italic">It&#8217;s strange that you should ask.</span></td><td data-label="Значение">Странно, что Вы спросили</td></tr><tr><td data-label="Пример"><span class="italic">It must be done.</span></td><td data-label="Значение">Это надо сделать. (приказ)</td></tr><tr><td data-label="Пример"><span class="italic">It should have been done&#8230;</span></td><td data-label="Значение">Надо было это (раньше) сделать&#8230;</td></tr></tbody></table></div>
								<h2>Далее</h2>
								<div class="holder-bottom-navigation"><a href="#/grammar_much_many_little_few" class="btn-larger btn-primary fit-half-width">Следующая</a><a href="#/contents" class="btn-larger btn-secondary fit-half-width">Содержание</a></div>
							</div>
						</div>
					</div>
				</div>
