				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Степени сравнения</h1><p class="subhead">Правильно: &#171;greener, funnier, happier, nearer, wickeder&#160;/ more wicked, cleverer&#160;/ more clever, commoner&#160;/ more common, handsomer&#160;/ more handsome, narrower&#160;/ more narrow, quieter&#160;/ more quiet, shallower&#160;/ more shallow, simpler&#160;/ more simple, stupider&#160;/ more stupid, more fun, more quickly, more crowded, more boring, more careful, more often&#187;.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
								<div class="holder-chapters-select">
									<form method="get" action="javascript:void(0);">
										<p>
											<select class="chapters-select" id="chapters-select" aria-label="Select / Выбрать">
												<option value="" disabled="" selected="">Переход к&#160;главам&#8230;</option>
												<option value="#a1">Орфография</option>
												<option value="#a2">Нюансы</option>
												<option value="#a3">Прилагательные</option>
												<option value="#a4">Наречия</option>
												<option value="#a5">Упражнение</option>
											</select>
										</p>
									</form>
								</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Орфография</h2></div><div class="holder-hidden-layer"><p>Eсли прилагательное оканчивается на&#160;немое <span class="bolder">e</span>, то при прибавлении <span class="bolder">-er</span>, <span class="bolder">-est</span> оно пропускается:</p><p class="blockquote">large&#160;&#8212; larger</p><p>Удваивайте согласную, если слово заканчивается закрытым слогом:</p><p class="blockquote">big&#160;&#8212; bigger, fat&#160;&#8212; fatter, hot&#160;&#8212; hotter</p><p>В словах, заканчивающихся на <span class="bolder">-y</span> меняйте <span class="bolder">-y</span> на <span class="bolder">-ier/iest</span>:</p><p class="blockquote">happy&#160;&#8212; happier&#160;&#8212; happiest</p></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">Нюансы</h2></div><div class="holder-hidden-layer"><p>Не путайте <span class="bolder">fun</span> (веселье) и&#160;<span class="bolder">funny</span> (смешной):</p><table class="respond fit-width"><caption></caption><thead><tr><th>Правильно</th><th>Неправильно</th></tr></thead><tbody><tr><td data-label="Правильно"><span class="italic">funnier</span></td><td data-label="Неправильно"><span class="italic">more funny</span></td></tr><tr><td data-label="Правильно"><span class="italic">funniest</span></td><td data-label="Неправильно"><span class="italic">most funny</span></td></tr></tbody></table><p class="blockquote">The party was <span class="bolder">fun</span> (=enjoyable), but the party last week was <span class="bolder">more fun</span>. The&#160;party Lauren threw last year was the <span class="bolder">most fun</span> though.</p><p class="blockquote">Joe is <span class="bolder">funny</span>, he is even <span class="bolder">funnier</span> than Jane. In&#160;fact, he is the <span class="bolder">funniest</span> person I&#160;know!</p><p>Трудность в&#160;том, что <span class="bolder">fun</span>&#160;&#8212; существительное (веселье):</p><p class="blockquote">We had <span class="bolder">more fun</span> today than yesterday.</p><p>Однако <span class="bolder">fun</span> может неформально выступать прилагательным (увлекательный):</p><p class="blockquote">Instagram is <span class="bolder">a</span>&#160;fast, beautiful and <span class="bolder">fun way</span> to share your life with friends and family.</p><p><span class="bolder">Fun</span> не&#160;образует степени с&#160;помощью &#8230;<span class="bolder">-er</span>&#160;/ <span class="bolder">the</span>&#8230;<span class="bolder">-est</span>:</p><table class="respond fit-width"><caption></caption><thead><tr><th>Правильно</th><th>Неправильно</th></tr></thead><tbody><tr><td data-label="Правильно"><span class="italic">more fun</span></td><td data-label="Неправильно"><span class="italic">funner</span></td></tr><tr><td data-label="Правильно"><span class="italic">most fun</span></td><td data-label="Неправильно"><span class="italic">funnest</span></td></tr></tbody></table><p>Прилагательные-абсолюты <span class="bolder">unique, perfect, round</span> имеют только положительную степень.</p><p>Наречия <span class="bolder">again, almost, before, ever, never, here, there, now, then, there, thus, too, twice, very</span> имеют только положительную степень.</p><p>Двусложные прилагательные требуют <a href="http://oald8.oxfordlearnersdictionaries.com/dictionary/handsome">сверки со&#160;словарем</a>, поскольку, например, <span class="bolder">clever, common, narrow, quiet, shallow, simple</span>&#160;&#8212; образуют степени сравнения как с&#160;помощью &#8230;<span class="bolder">-er</span>&#160;/ <span class="bolder">the</span>&#8230;<span class="bolder">-est</span>, так и&#160;<span class="bolder">more</span>&#8230;/ <span class="bolder">the most</span>&#8230;</p><p>Двусложные прилагательные, оканчивающихся на <span class="bolder">-y, -er, -ow</span>, обычно &#171;сидят на двух стульях&#187;:</p><table class="respond fit-width"><caption></caption><thead><tr><th>&#160;</th><th>Правильно</th><th>Правильно</th></tr></thead><tbody><tr><td data-label="Правильно"><span class="italic">lazy</span></td><td data-label="Правильно"><span class="italic">lazier&#160;/ more lazy</span></td><td data-label="Правильно"><span class="italic">laziest&#160;/ most lazy</span></td></tr><tr><td data-label="Правильно"><span class="italic">fancy</span></td><td data-label="Правильно"><span class="italic">fancier&#160;/ more fancy</span></td><td data-label="Правильно"><span class="italic">fanciest&#160;/ most fancy</span></td></tr><tr><td data-label="Правильно"><span class="italic">friendly</span></td><td data-label="Правильно"><span class="italic">friendlier&#160;/ more friendly</span></td><td data-label="Правильно"><span class="italic">friendliest&#160;/ most friendly</span></td></tr><tr><td data-label="Правильно"><span class="italic">lovely</span></td><td data-label="Правильно"><span class="italic">lovelier&#160;/ more lovely</span></td><td data-label="Правильно"><span class="italic">loveliest&#160;/ most lovely</span></td></tr><tr><td data-label="Правильно"><span class="italic">risky</span></td><td data-label="Правильно"><span class="italic">riskier&#160;/ more risky</span></td><td data-label="Правильно"><span class="italic">riskiest&#160;/ most risky</span></td></tr><tr><td data-label="Правильно"><span class="italic">clever</span></td><td data-label="Правильно"><span class="italic">cleverer&#160;/ more clever</span></td><td data-label="Правильно"><span class="italic">cleverest&#160;/ most clever</span></td></tr><tr><td data-label="Правильно"><span class="italic">slender</span></td><td data-label="Правильно"><span class="italic">slenderer&#160;/ more slender</span></td><td data-label="Правильно"><span class="italic">slenderest&#160;/ most slender</span></td></tr><tr><td data-label="Правильно"><span class="italic">tender</span></td><td data-label="Правильно"><span class="italic">tenderer&#160;/ more tender</span></td><td data-label="Правильно"><span class="italic">tenderest&#160;/ most tender</span></td></tr><tr><td data-label="Правильно"><span class="italic">shallow</span></td><td data-label="Правильно"><span class="italic">shallower&#160;/ more shallow</span></td><td data-label="Правильно"><span class="italic">shallowest&#160;/ most shallow</span></td></tr><tr><td data-label="Правильно"><span class="italic">yellow</span></td><td data-label="Правильно"><span class="italic">yellower&#160;/ more yellow</span></td><td data-label="Правильно"><span class="italic">yellowest&#160;/ most yellow</span></td></tr></tbody></table><p>Для некоторых двусложных прилагательных, могущих иметь оба способа образования степней, сложились следующие предпочтения:</p><table class="respond fit-width"><caption></caption><thead><tr><th>Чаще говорят</th><th>Чаще говорят</th></tr></thead><tbody><tr><td data-label="Чаще говорят"><span class="italic">quieter, quietest</span></td><td data-label="Чаще говорят">&#160;</td></tr><tr><td data-label="Чаще говорят"><span class="italic">simpler, simplest</span></td><td data-label="Чаще говорят">&#160;</td></tr><tr><td data-label="Чаще говорят"><span class="italic">gentler, gentlest</span></td><td data-label="Чаще говорят">&#160;</td></tr><tr><td data-label="Чаще говорят">&#160;</td><td data-label="Чаще говорят"><span class="italic">more stable, most stable</span></td></tr><tr><td data-label="Чаще говорят">&#160;</td><td data-label="Чаще говорят"><span class="italic">more noble, most noble</span></td></tr><tr><td data-label="Чаще говорят">&#160;</td><td data-label="Чаще говорят"><span class="italic">more common, most common</span></td></tr><tr><td data-label="Чаще говорят">&#160;</td><td data-label="Чаще говорят"><span class="italic">more polite, most polite</span></td></tr><tr><td data-label="Чаще говорят">&#160;</td><td data-label="Чаще говорят"><span class="italic">more pleasant, most pleasant</span></td></tr><tr><td data-label="Чаще говорят">&#160;</td><td data-label="Чаще говорят"><span class="italic">more handsome, most handsome</span></td></tr></tbody></table><p>Если Вы сравниваете два объекта, испльзуя <span class="bolder">as</span>&#8230;<span class="bolder">as</span>, ничего менять не&#160;нужно:</p><p class="blockquote">She&#8217;s twice as old as her sister.</p><p>Не путайте прилагательные с&#160;наречиями. Двусложные наречия образуют сравнительную степень с&#160;помощью <span class="bolder">more/most</span>.</p><table class="respond fit-width"><caption></caption><thead><tr><th>Пример</th><th>Сравнительная</th><th>Первосходная</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">early</span> (прил., ранний)</td><td data-label="Сравнительная"><span class="italic">earlier</span></td><td data-label="Первосходная"><span class="italic">the earliest</span></td></tr><tr><td data-label="Пример"><span class="italic">early</span> (нар., рано)</td><td data-label="Сравнительная"><span class="italic">more early</span></td><td data-label="Первосходная"><span class="italic">most early</span></td></tr></tbody></table><p>Однако, в&#160;неформальной речи двусложные наречия на <span class="bolder">-ly</span> могут иметь степнь сравнения как у&#160;прилагательных:</p><p class="blockquote">She ran <span class="bolder">quicker</span> (вместо <span class="bolder">more quickly</span>) than me. She&#160;ran <span class="bolder">the quickest</span> (вместо <span class="bolder">most quickly</span>).</p><p>Для усиления сравнительной степени наречий и&#160;прилагательных используют <span class="bolder">much, much more, a&#160;great deal, far</span>:</p><p class="blockquote">I&#8217;m feeling <span class="bolder">much better</span>.</p><p>Для придания стилю речи более формальный оттенок, в&#160;придаточном предложении могут использовать местоимение в&#160;именительном, а&#160;не&#160;винительном падеже:</p><p class="blockquote">She ran <span class="bolder">more quickly</span> than <span class="bolder">he did</span> (а не&#160;than <span class="bolder">him</span>).</p><p><span class="bolder">Less</span>&#160;&#8212; <span class="italic">меньше</span> (сравнительная степень от&#160;<span class="italic">мало</span>):</p><p class="blockquote">I have <span class="bolder">less</span> time than&#160;you.</p><p><span class="bolder">Smaller</span>&#160;&#8212; <span class="italic">меньше</span> (сравнительная степень от <span class="italic">маленький</span>):</p><p class="blockquote">Alice is little, but Jack is <span class="bolder">smaller</span>. He&#160;is the <span class="bolder">smallest</span> in their family.</p><p><span class="bolder">More</span>&#160;&#8212; <span class="italic">больше</span> (сравнительная степень от <span class="italic">много</span>):</p><p class="blockquote">I have <span class="bolder">more</span> time than&#160;you.</p><p><span class="bolder">Bigger/larger</span>&#160;&#8212; <span class="italic">больше</span> (сравнительная степень от <span class="italic">большой</span>):</p><p class="blockquote">His car is <span class="bolder">bigger</span> than&#160;yours.</p><table class="respond fit-width"><caption></caption><thead><tr><th>Пример</th><th>Сравнительная</th><th>Первосходная</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">old</span></td><td data-label="Сравнительная"><span class="italic">older</span>&#160;&#8212; старше (возраст)<br /><span class="italic">elder</span>&#160;&#8212; старше в&#160;семье (старшинство)</td><td data-label="Первосходная"><span class="italic">oldest</span>&#160;&#8212; старейший<br /><span class="italic">eldest</span>&#160;&#8212; самый старший</td></tr><tr><td data-label="Пример"><span class="italic">near</span></td><td data-label="Сравнительная"><span class="italic">nearer</span>&#160;&#8212; более близкий</td><td data-label="Первосходная"><span class="italic">nearest</span>&#160;&#8212; ближайший<br /><span class="italic">next</span>&#160;&#8212; следующий</td></tr><tr><td data-label="Пример"><span class="italic">late</span></td><td data-label="Сравнительная"><span class="italic">later</span>&#160;&#8212; более поздний (о&#160;времени)<br /><span class="italic">latter</span>&#160;&#8212; последний из&#160;двух (по порядку) упомянутых</td><td data-label="Первосходная"><span class="italic">latest</span>&#160;&#8212; самый поздний<br /><span class="italic">last</span>&#160;&#8212; самый последний</td></tr><tr><td data-label="Пример"><span class="italic">far</span></td><td data-label="Сравнительная"><span class="italic">farther</span>&#160;&#8212; более дальний (о&#160;расстоянии)<br /><span class="italic">further</span>&#160;&#8212; более дальний, дальнейший (по порядку)</td><td data-label="Первосходная"><span class="italic">farthest</span>&#160;&#8212; самый дальний<br /><span class="italic">furthest</span>&#160;&#8212; наидальнейший</td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a3">Прилагательные</h2></div><div class="holder-hidden-layer"><p>&#8212; 1 слог:</p><table class="respond fit-width"><caption></caption><thead><tr><th>Пример</th><th>Сравнительная</th><th>Первосходная</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">green</span></td><td data-label="Сравнительная"><span class="italic">greener</span></td><td data-label="Первосходная"><span class="italic">the greenest</span></td></tr></tbody></table><p>&#8212; 2 слога:</p><table class="respond fit-width"><caption></caption><thead><tr><th>Пример</th><th>Сравнительная</th><th>Первосходная</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">polite</span></td><td data-label="Сравнительная"><span class="italic">politer</span></td><td data-label="Первосходная"><span class="italic">the politest</span></td></tr><tr><td data-label="Пример"><span class="italic">remote</span></td><td data-label="Сравнительная"><span class="italic">remoter</span></td><td data-label="Первосходная"><span class="italic">the remotest</span></td></tr><tr><td data-label="Пример"><span class="italic">easy</span></td><td data-label="Сравнительная"><span class="italic">easier</span></td><td data-label="Первосходная"><span class="italic">the easiest</span></td></tr><tr><td data-label="Пример"><span class="italic">narrow</span></td><td data-label="Сравнительная"><span class="italic">narrower</span></td><td data-label="Первосходная"><span class="italic">the narrowest</span></td></tr><tr><td data-label="Пример"><span class="italic">clever</span></td><td data-label="Сравнительная"><span class="italic">cleverer</span></td><td data-label="Первосходная"><span class="italic">the cleverest</span></td></tr><tr><td data-label="Пример"><span class="italic">simple</span></td><td data-label="Сравнительная"><span class="italic">simpler</span></td><td data-label="Первосходная"><span class="italic">the simplest</span></td></tr></tbody></table><p>&#8212; 2 слога, прилагательное, образованное от&#160;причастия (-ed, -ing), а&#160;так&#160;же с&#160;окончаниями -ful, -ish, -al, -able:</p><table class="respond fit-width"><caption></caption><thead><tr><th>Пример</th><th>Сравнительная</th><th>Первосходная</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">crowded</span></td><td data-label="Сравнительная"><span class="italic">more crowded</span></td><td data-label="Первосходная"><span class="italic">the most crowded</span></td></tr><tr><td data-label="Пример"><span class="italic">boring</span></td><td data-label="Сравнительная"><span class="italic">more boring</span></td><td data-label="Первосходная"><span class="italic">the most boring</span></td></tr><tr><td data-label="Пример"><span class="italic">careful</span></td><td data-label="Сравнительная"><span class="italic">more careful</span></td><td data-label="Первосходная"><span class="italic">the most careful</span></td></tr></tbody></table><p>&#8212; 3 слога и&#160;более:</p><table class="respond fit-width"><caption></caption><thead><tr><th>Пример</th><th>Сравнительная</th><th>Первосходная</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">beautiful</span></td><td data-label="Сравнительная"><span class="italic">more beautiful</span></td><td data-label="Первосходная"><span class="italic">the most beautiful</span></td></tr><tr><td data-label="Пример"><span class="italic">interesting</span></td><td data-label="Сравнительная"><span class="italic">more interesting</span></td><td data-label="Первосходная"><span class="italic">the most interesting</span></td></tr></tbody></table><p>&#8212; Исключения:</p><table class="respond fit-width"><caption></caption><thead><tr><th>Пример</th><th>Сравнительная</th><th>Первосходная</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">good</span></td><td data-label="Сравнительная"><span class="italic">better</span></td><td data-label="Первосходная"><span class="italic">the best</span></td></tr><tr><td data-label="Пример"><span class="italic">bad&#160;/ ill&#160;/ evil</span></td><td data-label="Сравнительная"><span class="italic">worse</span></td><td data-label="Первосходная"><span class="italic">the worst</span></td></tr><tr><td data-label="Пример"><span class="italic">much, many</span></td><td data-label="Сравнительная"><span class="italic">more</span></td><td data-label="Первосходная"><span class="italic">the most</span></td></tr><tr><td data-label="Пример"><span class="italic">little</span></td><td data-label="Сравнительная"><span class="italic">less</span></td><td data-label="Первосходная"><span class="italic">the least</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a4">Наречия</h2></div><div class="holder-hidden-layer"><p>&#8212; 1 слог:</p><table class="respond fit-width"><caption></caption><thead><tr><th>Пример</th><th>Сравнительная</th><th>Первосходная</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">fast</span></td><td data-label="Сравнительная"><span class="italic">faster</span></td><td data-label="Первосходная"><span class="italic">fastest</span></td></tr></tbody></table><p>&#8212; 2 слога и&#160;заканчивается на -y:</p><table class="respond fit-width"><caption></caption><thead><tr><th>Пример</th><th>Сравнительная</th><th>Первосходная</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">easy</span></td><td data-label="Сравнительная"><span class="italic">easier</span></td><td data-label="Первосходная"><span class="italic">easiest</span></td></tr></tbody></table><p>&#8212; 2 слога и&#160;не&#160;заканчивается на -y:</p><table class="respond fit-width"><caption></caption><thead><tr><th>Пример</th><th>Сравнительная</th><th>Первосходная</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">often</span></td><td data-label="Сравнительная"><span class="italic">more often</span></td><td data-label="Первосходная"><span class="italic">most often</span></td></tr></tbody></table><p>&#8212; 2 слога, образованные от&#160;прилагательных при помощи суффикса -ly:</p><table class="respond fit-width"><caption></caption><thead><tr><th>Пример</th><th>Сравнительная</th><th>Первосходная</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">quickly</span></td><td data-label="Сравнительная"><span class="italic">more quickly</span></td><td data-label="Первосходная"><span class="italic">most quickly</span></td></tr></tbody></table><p>&#8212; 3 слога и&#160;более:</p><table class="respond fit-width"><caption></caption><thead><tr><th>Пример</th><th>Сравнительная</th><th>Первосходная</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">carefully</span></td><td data-label="Сравнительная"><span class="italic">more carefully</span></td><td data-label="Первосходная"><span class="italic">most carefully</span></td></tr></tbody></table><p>&#8212; Исключения:</p><table class="respond fit-width"><caption></caption><thead><tr><th>Пример</th><th>Сравнительная</th><th>Первосходная</th></tr></thead><tbody><tr><td data-label="Пример"><span class="italic">well</span></td><td data-label="Сравнительная"><span class="italic">better</span></td><td data-label="Первосходная"><span class="italic">best</span></td></tr><tr><td data-label="Пример"><span class="italic">badly</span></td><td data-label="Сравнительная"><span class="italic">worse</span></td><td data-label="Первосходная"><span class="italic">worst</span></td></tr><tr><td data-label="Пример"><span class="italic">little</span></td><td data-label="Сравнительная"><span class="italic">less</span></td><td data-label="Первосходная"><span class="italic">least</span></td></tr><tr><td data-label="Пример"><span class="italic">much</span></td><td data-label="Сравнительная"><span class="italic">more</span></td><td data-label="Первосходная"><span class="italic">most</span></td></tr><tr><td data-label="Пример"><span class="italic">far</span></td><td data-label="Сравнительная"><span class="italic">further/ farther</span></td><td data-label="Первосходная"><span class="italic">furthest/farthest</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a5">Упражнение</h2></div><div class="holder-hidden-layer"><p>Подчеркните правильный вариант, учитывая, что наречия описывают глаголы, прилагательные и&#160;другие наречия:</p><ol><li>As a&#160;member of the student council, I&#8217;m working (tireless&#160;/ tirelessly) to make improvements at our school.</li><li>I&#8217;m trying to work (more cooperative&#160;/ more cooperatively) with the other council members.</li><li>I wish we could get our new policies passed (easier&#160;/ more easily). However, the school administrators don&#8217;t always accept our recommendations.</li><li>The truth is, our student council is disorganized, so how can we expect the school administrators to take us (serious&#160;/ seriously)?</li><li>The student council needs to work (more effective&#160;/ more effectively) as a&#160;unit.</li><li>Today, the tone of our discussion was (harsher&#160;/ more harshly) than usual. We&#160;discussed whether or not to remove Tater Tot Tuesdays from our cafeteria lunch schedule.</li><li>Some of the council members aren&#8217;t crazy about tater tots. They&#160;think (higher&#160;/ more highly) of smiley fries. This&#160;rebel group is in favor of replacing Tater Tot Tuesdays with Smiley Fridays.</li><li>I&#8217;m a&#160;(real&#160;/ really) big fan of smiley fries. Even&#160;though tater tots have been around a&#160;lot longer and are practically an institution, smiley fries deserve a&#160;chance, too.</li><li>Maybe the council would be (clearer&#160;/ more clearly) on the issue if we had an organized debate.</li><li>The debate might go (smoother&#160;/ more smoothly) if the speaking points were followed by&#160;a&#160;taste test.</li></ol><p>Ответы:</p><p>1. tirelessly 2. more cooperatively 3. more easily 4. seriously 5. more effectively 6. harsher 7. more highly 8. really 9. clearer 10. more smoothly</p></div>
								<h2>Далее</h2>
								<div class="holder-bottom-navigation"><a href="#/grammar_ex_former" class="btn-larger btn-primary fit-half-width">Следующая</a><a href="#/contents" class="btn-larger btn-secondary fit-half-width">Содержание</a></div>
							</div>
						</div>
					</div>
				</div>
