				<div class="content-wrapper">
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h1 id="h1">Too&#160;/ enough и&#160;so&#160;/ such</h1><p class="subhead">Наречие &#171;too&#187; употребляется перед прилагательным или&#160;наречием, и&#160;означает &#171;слишком&#187;. Наречие &#171;enough&#187; употребляется, как правило, перед существительным, но&#160;после прилагательного или наречия, и&#160;означает &#171;достаточно&#187;. Местоимение &#171;such&#187; употребляется с&#160;существительным (перед которым может стоять прилагательное) и&#160;означает &#171;такой&#187;. Местоимение &#171;so&#187; употребляется с&#160;прилагательным (после которого нет существительного) или&#160;наречием и&#160;означает &#171;такой&#160;/ так&#187;.</p>
							</div>
						</div>
					</div>
					<div class="grid-narrow grid-pad">
						<div class="col col-1-1">
							<div class="content">
								<h2 id="a0">Содержание</h2>
								<div class="holder-chapters-select">
									<form method="get" action="javascript:void(0);">
										<p>
											<select class="chapters-select" id="chapters-select" aria-label="Select / Выбрать">
												<option value="" disabled="" selected="">Переход к&#160;главам&#8230;</option>
												<option value="#a1">Нюансы</option>
												<option value="#a2">So</option>
												<option value="#a3">Such</option>
												<option value="#a4">Too</option>
												<option value="#a5">Enough</option>
											</select>
										</p>
									</form>
								</div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a1">Нюансы</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Неправильно</th><th>Правильно</th></tr></thead><tbody><tr><td data-label="Неправильно"><span class="italic">She is very young to drink alcohol.</span></td><td data-label="Правильно"><span class="italic">She is too young to drink alcohol.</span></td></tr><tr><td data-label="Неправильно"><span class="italic">He is not very tough to play football.</span></td><td data-label="Правильно"><span class="italic">He is not tough enough to play football.</span></td></tr><tr><td data-label="Неправильно"><span class="italic">We were blessed with so good weather on the trip.</span></td><td data-label=Правильно""><span class="italic">We were blessed with such good weather on the trip.</span></td></tr><tr><td data-label="Неправильно"><span class="italic">We were blessed with such a good weather on the trip.</span></td><td data-label="Правильно"><span class="italic">We were blessed with such good weather on the trip.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a2">So</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Правило</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Правило"><span class="bolder">so</span>&#160;+ прил.</td><td data-label="Пример"><span class="italic">The meal was so good! It&#160;was worth the money. The&#160;music is so loud I&#160;can&#8217;t sleep.</span></td></tr><tr><td data-label="Правило"><span class="bolder">so</span>&#160;+ нар.</td><td data-label="Пример"><span class="italic">He paints so well! I&#160;am sure he is going to become a famous artist. She&#160;spoke so quickly that I&#160;couldn&#8217;t understand her.</span></td></tr><tr><td data-label="Правило"><span class="bolder">so&#160;+ many&#160;/ few</span>&#160;+ мн.&#160;ч.</td><td data-label="Пример"><span class="italic">I never knew you had so many brothers! She&#160;has so few friends! It&#8217;s really quite sad.</span></td></tr><tr><td data-label="Правило"><span class="bolder">so&#160;+ much&#160;/ little</span>&#160;+ неисчисл. сущ.</td><td data-label="Пример"><span class="italic">They have so little food! We&#160;need to do something to help them. Jake&#160;earns so much money that he has lost all sense of what a dollar is worth.</span></td></tr><tr><td data-label="Правило"><span class="bolder">so&#160;+ much&#160;/ little&#160;/ often&#160;/ rarely</span></td><td data-label="Пример"><span class="italic">Earl drinks so much! My&#160;sister visits us so rarely!</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a3">Such</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Правило</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Правило"><span class="bolder">such</span>&#160;+ прил.&#160;+ сущ.</td><td data-label="Пример"><span class="italic">Don has such a big house that I&#160;actually got lost on the way to the bathroom. Shelly has such beautiful eyes that she got a job as a make-up model.</span></td></tr><tr><td data-label="Правило"><span class="bolder">such</span>&#160;+ оценочное сущ.</td><td data-label="Пример"><span class="italic">He is such an idiot that nobody would hire him.</span></td></tr><tr><td data-label="Правило"><span class="bolder">such</span>&#160;+ сущ. (подобный&#160;/ такого рода)</td><td data-label="Пример"><span class="italic">She usually doesn&#8217;t receive such criticism.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a4">Too</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Правило</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Правило"><span class="bolder">too</span>&#160;+ прил.</td><td data-label="Пример"><span class="italic">She has too much&#160;money. He is too old to ride the Merry-Go-Round.</span></td></tr><tr><td data-label="Правило"><span class="bolder">too</span>&#160;+ нар.</td><td data-label="Пример"><span class="italic">He is driving too&#160;fast. You&#8217;ve got the telly on too loud.</span></td></tr></tbody></table></div>
								<div class="holder-btn-expand-hidden-layer"><h2 class="btn-expand-hidden-layer" id="a5">Enough</h2></div><div class="holder-hidden-layer"><table class="respond fit-width"><caption></caption><thead><tr><th>Правило</th><th>Пример</th></tr></thead><tbody><tr><td data-label="Правило">прил.&#160;+ <span class="bolder">enough</span></td><td data-label="Пример"><span class="italic">Tony was tall enough to play on the basketball team.</span></td></tr><tr><td data-label="Правило">нар.&#160;+ <span class="bolder">enough</span></td><td data-label="Пример"><span class="italic">Did they respond enough quickly to help?</span></td></tr><tr><td data-label="Правило"><span class="bolder">enough</span>&#160;+ сущ.</td><td data-label="Пример"><span class="italic">I have enough money for the CD&#160;player.<br />There aren&#8217;t enough people to make a team.</span></td></tr><tr><td data-label="Правило"><span class="bolder">enough</span></td><td data-label="Пример"><span class="italic">I have had enough of this nonsense.</span></td></tr><tr><td data-label="Правило"><span class="bolder">&#160;</span></td><td data-label="Пример"><span class="italic">Enough is enough!</span></td></tr></tbody></table></div>
								<h2>Далее</h2>
								<div class="holder-bottom-navigation"><a href="#/grammar_translating_participles" class="btn-larger btn-primary fit-half-width">Следующая</a><a href="#/contents" class="btn-larger btn-secondary fit-half-width">Содержание</a></div>
							</div>
						</div>
					</div>
				</div>
